module {{ haproxy_selinux_module_name }} {{ haproxy_selinux_module_version }};

require {
        type var_run_t;
        type haproxy_t;
        type unreserved_port_t;
        class sock_file { link unlink };
        class process execmem;
        class capability fsetid;
        class file { unlink write };
        class tcp_socket name_bind;
}

#============ haproxy_t ==============

allow haproxy_t self:capability fsetid;
allow haproxy_t self:process execmem;
allow haproxy_t unreserved_port_t:tcp_socket name_bind;
allow haproxy_t var_run_t:file { unlink write };
allow haproxy_t var_run_t:sock_file { link unlink };
