[Unit]
Description=HAProxy Load Balancer
After=network.target

[Service]
Environment="CONFIG={{ haproxy_config_filename }}" "PIDFILE={{ haproxy_config_pidfile }}" "STATS={{ haproxy_config_stats_socket }}"
ExecStartPre={{ haproxy_package_build_prefix }}/sbin/haproxy -f $CONFIG -c -q
ExecStart={{ haproxy_package_build_prefix }}/sbin/haproxy -Ws -f $CONFIG -x $STATS -p $PIDFILE
ExecReload={{ haproxy_package_build_prefix }}/sbin/haproxy -f $CONFIG -c -q
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always
SuccessExitStatus=143
Type=notify

# The following lines leverage SystemD's sandboxing options to provide
# defense in depth protection at the expense of restricting some flexibility
# in your setup (e.g. placement of your configuration files) or possibly
# reduced performance. See systemd.service(5) and systemd.exec(5) for further
# information.

# NoNewPrivileges=true
# ProtectHome=true
# If you want to use 'ProtectSystem=strict' you should whitelist the PIDFILE,
# any state files and any other files written using 'ReadWritePaths' or
# 'RuntimeDirectory'.
# ProtectSystem=true
# ProtectKernelTunables=true
# ProtectKernelModules=true
# ProtectControlGroups=true
# If your SystemD version supports them, you can add: @reboot, @swap, @sync
# SystemCallFilter=~@cpu-emulation @keyring @module @obsolete @raw-io

[Install]
WantedBy=multi-user.target