{% set template = haproxy_template.adfs %}
{% set acme_tls_alpn = false %}
{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(false) %}
{%   set acme = true %}
{%   if proxy.frontend.acme_mode|default("http-01") == "tls-alpn-01" %}
{%     set acme_tls_alpn = true %}
{%   endif %}
{% else %}
{%   set acme = false %}
{% endif %}
# Defaults for {{ name }}
defaults {{ name }}
	# Set proxy type
	mode tcp

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout server             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout check              91s
	timeout tunnel             {{ proxy.idle_timeout|default(template.idle_timeout) }}

	# enable TCP keepalives
	option tcpka

	# Logging options
	option tcplog
	option logasap
	log global

	# Set balance mode
	balance leastconn

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} downinter {{ proxy.defaults.down_interval|default(template.down_interval) }} fastinter {{ proxy.defaults.fast_interval|default(template.fast_interval) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} downinter {{ template.down_interval }} fastinter {{ template.fast_interval }} on-marked-down shutdown-sessions
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}
{% if acme_tls_alpn %}
frontend fe_{{ name }}_alpn
	mode tcp
	option tcplog
{%   for bind in proxy.frontend.bind %}
	bind {{ proxy.frontend.ip }}:443
{%   endfor %}
	tcp-request inspect-delay 5s
	tcp-request content accept if { req_ssl_hello_type 1 }
	use_backend be_acme_alpn if { req.ssl_alpn acme-tls/1 }
	default_backend be_{{ name }}_real

backend be_{{ name }}_real
	mode tcp
	option tcplog
	server li_{{ name }} abns@li_{{ name }} send-proxy-v2

{% endif %}
{% if proxy.monitor|default(false) %}
# HTTP monitor for {{ name }}
listen li_{{ name }}_http
	# Set proxy type
	mode http

	# Listen on 80
	bind {{ proxy.frontend.ip }}:80

	# Health check endpoint acl
	acl li_{{ name }}_https_dead nbsrv(li_{{ name }}_https) lt {{ proxy.monitor_nbsrv|default(1) }}

	# Health check endpoint
{% for uri in proxy.monitor_uri|default(["/healthcheck.htm"]) %}
	acl monitor_url path {{ uri }}
{% endfor %}
	
	http-request deny deny_status 200 if monitor_url ! li_{{ name }}_https_dead
	http-request deny deny_status 500 if monitor_url li_{{ name }}_https_dead

{% endif %}
# Listener for ADFS {{ name }}
listen li_{{ name }}_https
	# Listen on 443
	bind {{ "abns@li_" ~ name if acme_tls_alpn else proxy.frontend.ip ~ ":443" }}{{ " accept-proxy" if acme_tls_alpn else "" }}

	# Set proxy type
	mode tcp

	# Health check options
	option httpchk /adfs/probe
	option log-health-checks

	# ADFS servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}:443 check port 80
{% endfor %}
