{% if proxy.defaults is defined %}
# Defaults for {{ name }}
defaults {{ name }}
	# Proxy mode
	mode {{ proxy.defaults.mode|default("tcp") }}

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            {{ proxy.defaults.timeout_connect|default("5s") }}
	timeout http-keep-alive    {{ proxy.defaults.timeout_http_keep_alive|default("1s") }}
	timeout http-request       {{ proxy.defaults.timeout_http_request|default("15s") }}
	timeout queue              {{ proxy.defaults.timeout_queue|default("30s") }}
	timeout tarpit             {{ proxy.defaults.timeout_tarpit|default("1m") }}
	timeout client             {{ proxy.defaults.timeout_client|default("30s") }}
	timeout server             {{ proxy.defaults.timeout_server|default("30s") }}
	timeout tunnel             {{ proxy.defaults.timeout_server|default("1h") }}

	# Logging options
{% if proxy.defaults.mode|default("tcp") == "http" %}
	option httplog
{% else %}
	option tcplog
{% endif %}
	log global

	# Set default balancing algorithm
	balance {{ proxy.defaults.balance|default("roundrobin") }}

	# Default server check options
	default-server inter {{ proxy.defaults.interval|default("10s") }} rise {{ proxy.defaults.rise|default("3") }} fall {{ proxy.defaults.fall|default("2") }}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}
{% if proxy.defaults.line is defined %}

	# Additional config
{% for l in proxy.defaults.line %}
	{{ l }}
{% endfor %}
{% endif %}
{% endif %}
{% if proxy.listen is defined %}

# Listen for {{ name }}
listen li_{{ name }}
{% if proxy.listen.mode is defined %}
	mode {{ proxy.listen.mode }}
{% endif %}
{% if haproxy_acme_enabled and proxy.listen.acme_enabled|default(false) %}

	# ACLs to match Lets-Encrypt challenge
	acl url_acme path_reg -i ^/\.well-known/acme-challenge/[-_a-zA-Z0-9]+$

	# Forward Lets-Encrypt challenge to acme backend
	use_backend be_acme if url_acme !{ ssl_fc }
{% endif %}
{% if proxy.listen.line is defined %}

	# Additional config
{% for l in proxy.listen.line %}
	{{ l }}
{% endfor %}
{% endif %}
{% endif %}
{% if proxy.frontend is defined %}

# Front-End for {{ name }}
frontend fe_{{ name }}
{% if proxy.frontend.mode is defined %}
	mode {{ proxy.frontend.mode }}
{% endif %}
{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(false) %}

	# ACLs to match Lets-Encrypt challenge
	acl url_acme path_reg -i ^/\.well-known/acme-challenge/[-_a-zA-Z0-9]+$

	# Forward Lets-Encrypt challenge to acme backend
	use_backend be_acme if url_acme !{ ssl_fc }
{% endif %}
{% if proxy.frontend.line is defined %}

	# Additional config
{% for l in proxy.frontend.line %}
	{{ l }}
{% endfor %}
{% endif %}
{% endif %}
{% if proxy.backend is defined %}

# Back-End for {{ name }}
backend be_{{ name }}
{% if proxy.backend.mode is defined %}
	mode {{ proxy.backend.mode }}
{% endif %}
{% if proxy.backend.mode|default("tcp") == "http" %}
	http-reuse {{ proxy.backend.http_reuse|default("safe") }}
{% endif %}
{% if proxy.backend.line is defined %}

	# Additional config
{% for l in proxy.backend.line %}
	{{ l }}
{% endfor %}
{% endif %}
{% endif %}
