{% set template = haproxy_template.doh %}

# Defaults for {{ name }}
defaults {{ name }}
	# Set proxy type
	mode tcp

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout server             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout check              91s
	timeout tunnel             {{ proxy.idle_timeout|default(template.idle_timeout) }}

	# enable TCP keepalives
	option tcpka

	# Logging options
	option tcplog
	option logasap
	log global

	# Set balance mode
	balance leastconn

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} downinter {{ proxy.defaults.down_interval|default(template.down_interval) }} fastinter {{ proxy.defaults.fast_interval|default(template.fast_interval) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} downinter {{ template.down_interval }} fastinter {{ template.fast_interval }} on-marked-down shutdown-sessions
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}

# Listener for {{ name }}
listen li_{{ name }}
	# Listen on 853
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:853
{% endfor %}
	# Set proxy type
	mode tcp

	# DoH server on localhost
	server doh_{{ name }} 127.0.0.1:853 check

{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(true) %}
# Acme fron-end for DoH
frontend fe_acme_{{ name }}
	# Listen on port 80
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:80
{% endfor %}

	# Set proxy type
	mode http
	
{% include "acme.j2" %}
{% endif %}
