{% set template = haproxy_template.exchange %}
{% set acme_tls_alpn = false %}
{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(false) %}
{%   set acme = true %}
{%   if proxy.frontend.acme_mode|default("http-01") == "tls-alpn-01" %}
{%     set acme_tls_alpn = true %}
{%   endif %}
{% else %}
{%   set acme = false %}
{% endif %}
# Exchange Defaults
defaults {{ name }}
	# Default to HTTP mode
	mode http
{% if acme_tls_alpn %}

frontend fe_{{ name }}_alpn
	mode tcp
	option tcplog
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:443
{% endfor %}
	tcp-request inspect-delay 5s
	tcp-request content accept if { req_ssl_hello_type 1 }
	use_backend be_acme_alpn if { req.ssl_alpn acme-tls/1 }
	default_backend be_{{ name }}_real

backend be_{{ name }}_real
	mode tcp
	option tcplog
	server fe_{{ name }} abns@fe_{{ name }} send-proxy-v2
{% endif %}

# Exchange Front-End
frontend fe_{{ name }}
	# Default to HTTP mode
	mode http

	# Timeouts
	timeout http-keep-alive    1s
	timeout http-request       15s
	timeout tarpit             1m
	timeout client             30m

	# Logging options
	option httplog
	log global

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}

	# Add "X-Forwarded-For" header
	option forwardfor

	# Enable server side TCP keep-alives
	option clitcpka

	# Listen on 80 and 443
{% for bind in proxy.frontend.bind %}
	bind {{ "abns@fe_" ~ name if acme_tls_alpn else bind.ip ~ ":443" }} ssl crt {{ proxy.frontend.crt }}{{ " accept-proxy" if acme_tls_alpn else "" }}
	bind {{ bind.ip }}:80
{% endfor %}

{% if acme and not acme_tls_alpn %}
{% include "acme.j2" %}	
	# Redirect HTTP -> HTTPS
	redirect scheme https code 301 if !{ ssl_fc } !url_acme

{% else %}
	# Redirect HTTP -> HTTPS
	redirect scheme https code 301 if !{ ssl_fc }

{% endif %}
{% include "exchange_fe.j2" %}

{% include "exchange_be.j2" %}
