{% set template = haproxy_template.exchange %}
	# ACLs to route traffic
	acl dom_autod hdr(host) -i {{ proxy.frontend.hostname|default(proxy.frontend.pool_fqdn) }}
{% for domain in proxy.frontend.autodiscover_domains|default([]) %}
	acl dom_autod hdr(host) -i autodiscover.{{ domain }}
{% endfor %}
	acl dom_{{ name }} hdr(host) -i {{ proxy.frontend.hostname|default(proxy.frontend.pool_fqdn) }}
{% for h in proxy.frontend.additional_hostnames|default([]) %}
	acl dom_{{ name }} hdr(host) -i {{ h }}
{% endfor %}
{% for url in template.urls %}
	acl url_{{ url.name }} path_beg -i {{ url.path }}
{% endfor %}

	# Use specific back-end
	use_backend be_{{ name }}_autod if url_autod dom_autod
{% for url in template.urls if url.name != "autod" %}
	use_backend be_{{ name }}_{{ url.name }} if url_{{ url.name }} dom_{{ name }}
{% endfor %}

{% if proxy.template == "exchange" %}
	# Default backend
	use_backend be_{{ name }}_default if dom_{{ name }}

	# Health monitor for Exchange Back-Ends
{%   for url in template.urls %}
	acl be_{{ name }}_{{ url.name }}_dead nbsrv(be_{{ name }}_{{ url.name }}) eq 0
{%   endfor %}

	acl monitor_url path {{ proxy.frontend.monitor_uri|default("/haproxy/healthcheck.htm") }}
	http-request deny deny_status 200 if monitor_url ! li_{{ name }}_https_dead
	http-request deny deny_status 500 if monitor_url li_{{ name }}_https_dead

{% endif %}
