{% set template = haproxy_template.exchange %}
{% if proxy.template == "exchange" %}
{% set server_list = proxy.backend.server %}
{% else %}
{% set server_list = proxy.backend.exchange_server %}
{% endif %}
{% for url in template.urls %}
# Exchange {{ url.name }} Back-End
backend be_{{ name }}_{{ url.name }}
	# Run in HTTP mode
	mode http

	# Re-use back-end HTTP connections
	http-reuse safe

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout http-keep-alive    1s
	timeout http-request       15s
	timeout queue              30s
	timeout tarpit             1m
	timeout server             30m
	timeout tunnel             30m
	timeout check              2s

	# Set default balancing algorithm
{% if proxy.defaults is defined %}
	balance {{ proxy.defaults.balance|default(template.balance) }}
{% else %}
	balance {{ template.balance }}
{% endif %}

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} downinter {{ proxy.defaults.down_interval|default(template.down_interval) }} fastinter {{ proxy.defaults.fast_interval|default(template.fast_interval) }} slowstart {{ proxy.defaults.slowstart|default(template.slowstart) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} downinter {{ template.down_interval }} fastinter {{ template.fast_interval }} on-marked-down shutdown-sessions
{% endif %}

	# Logging options
	log global

	# Add "X-Forwarded-For" header
	option forwardfor

	# Enable server side TCP keep-alives
	option srvtcpka

	# Health check options
	option httpchk GET {{ url.path }}/healthcheck.htm HTTP/1.1\r\nHost:\ {{ proxy.backend.hostname|default(proxy.frontend.hostname|default(proxy.frontend.pool_fqdn)) }}\r\nConnection:\ Close\r\n\r\n
	option log-health-checks
	http-check expect status 200

{% if url.compression|default(true) %}
	# Enable compression
	compression algo gzip
	compression type text/html text/plain text/css text/xml application/xml application/x-javascript

{% endif %}
	# Exchange servers
{% for server in server_list %}
	server {{ server.name }} {{ server.ip }}:443 ssl check ca-file {{ server.ca_file|default(proxy.backend.ca_file) }}
{% endfor %}

{% endfor %}
{% if proxy.template == "exchange" %}

# Exchange default Back-End
backend be_{{ name }}_default
	# Run in HTTP mode
	mode http

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout http-keep-alive    1s
	timeout http-request       15s
	timeout queue              30s
	timeout tarpit             1m
	timeout server             30m
	timeout tunnel             30m
	timeout check              2s

	# Set default balancing algorithm
{% if proxy.defaults is defined %}
	balance {{ proxy.defaults.balance|default(template.balance) }}
{% else %}
	balance {{ template.balance }}
{% endif %}

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} on-marked-down shutdown-sessions
{% endif %}

	# Logging options
	option httplog
	log global

	# Add "X-Forwarded-For" header
	option forwardfor

	# Enable server side TCP keep-alives
	option srvtcpka

	# Enable compression
	compression algo gzip
	compression type text/html text/plain text/css text/xml application/xml application/x-javascript

	# Exchange servers
{% for server in server_list %}
	server {{ server.name }} {{ server.ip }}:443 ssl check ca-file {{ server.ca_file|default(proxy.backend.ca_file) }}
{% endfor %}
{% endif %}
