# {{ ansible_managed }}
global
	log         {{ haproxy_config_log }}
	chroot      {{ haproxy_config_chroot }}
	pidfile     {{ haproxy_config_pidfile }}
	maxconn     {{ haproxy_config_maxconn }}
	user        {{ haproxy_config_user }}
	group       {{ haproxy_config_group }}

{% if not haproxy_config_enable_v2_options | default(false) %}
{% if haproxy_config_nbthread == "auto" %}
	# multi threaded-config
	nbthread {{ ansible_processor_count }}
	cpu-map auto:all 0-
{% elif haproxy_config_nbthread is number %}
	# multi threaded-config
	nbthread {{ haproxy_config_nbthread }}
{% endif %}
{% endif %}

	# turn on stats unix socket
	stats socket {{ haproxy_config_stats_socket }} level admin expose-fd listeners mode {{ haproxy_config_stats_socket_mode }} user {{ haproxy_config_stats_socket_group }} group {{ haproxy_config_stats_socket_group }}
	stats timeout 2m

	# SSL tuning (See: https://ssl-config.mozilla.org/)
{% if haproxy_config_ssl_profile|default("intermediate") == "modern" %}
	# Modern (secure) profile
	ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
	ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

	ssl-default-server-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
	ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

{% elif haproxy_config_ssl_profile|default("intermediate") == "intermediate" %}
	# Intermediate (compatible) profile
	ssl-default-bind-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
	ssl-default-bind-options no-sslv3 no-tls-tickets

	ssl-default-server-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
	ssl-default-server-options no-sslv3 no-tls-tickets

	ssl-dh-param-file {{ haproxy_config_dir }}/dhparam.pem

{% endif %}
	tune.ssl.cachesize 262144
	tune.ssl.lifetime 3600

	# Base dir for certificates and CA files
	crt-base {{ haproxy_config_crt_base }}
	ca-base {{ haproxy_config_ca_base }}

	# Add some randomness (5% of check interval) to health check intervals
	spread-checks 5

{% if haproxy_acme_enabled|default(false) and haproxy_acme_account_thumbprint|default(0) != 0 %}
	# acme account thumbprint
	setenv ACME_ACCOUNT_THUMBPRINT {{ haproxy_acme_account_thumbprint }}

	# Load ACME stateless module
	lua-load {{ haproxy_config_dir }}/acme-stateless.lua
{% endif %}

{% for peer in haproxy_peers|default([]) %}
{% if loop.first %}
# Configure peers for stick-table/session persistence replication
peers peers_global
{% endif %}
{% if haproxy_config_enable_v2_options | default(false) %}
{% if peer.name == ansible_nodename %}
	bind {{ peer.ip }}:{{ peer.port }}
	server {{ peer.name }}
{% else %}
	server {{ peer.name }} {{ peer.ip }}:{{ peer.port }}
{% endif %}
{% else %}
	peer {{ peer.name }} {{ peer.ip }}:{{ peer.port }}
{% endif %}
{% endfor %}

{% for proxy in haproxy_proxies %}
{% set name = proxy.name|default("proxy_" ~ loop.index) %}

#
## Start of {{ name }} config
#

{% include proxy.template|default("custom") ~ ".j2" %}

#
## End of {{ name }} config
#
{% endfor %}

{% if haproxy_acme_enabled|default(false) %}
# ACME (Lets-Encrypt) Back-End
backend be_acme
	mode http

{% if haproxy_acme_account_thumbprint|default(0) != 0 %}
	# Work in stateless mode via LUA script
	http-request use-service lua.acme-stateless if METH_GET

{% else %}
{% if haproxy_acme_location is defined %}
	# ACL to match central challenge location
	acl url_acme_location base_dom -i {{ haproxy_acme_location }}

	# Redirect to central challenge location
	redirect prefix http://{{ haproxy_acme_location }} code 301 if !url_acme_location

{% endif %}
	# Proxy to local challenge server
	server acme {{ haproxy_acme_host|default("127.0.0.1") }}:{{ haproxy_acme_port|default(81) }}
{% endif %}

# ACME (Lets-Encrypt) TLS-ALPN-01 Back-End
backend be_acme_alpn
	mode http
	option tcplog
	server acme_tls_alpn {{ haproxy_acme_host|default("127.0.0.1") }}:{{ haproxy_acme_tls_alpn_port|default(10443) }}

{% endif %}
# Always OK Back-End
backend be_alwaysok
    # HTTP mode proxy
    mode http

    # Return some content
    errorfile 200 {{ haproxy_config_dir }}/errorfiles/200ok.http

    # Set status code
    http-request deny deny_status 200

# Silent Drop Backend
backend be_drop
    # HTTP mode proxy
    mode http

    http-request silent-drop
