# Healthcheck listener
listen healthcheck_{{ name }}
	mode http

	# Timeouts
	timeout client   5s
	timeout server   5s
	timeout connect  5s

{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:{{ bind.port|default("80") }}
{% endfor %}
	monitor-uri {{ proxy.uri|default("/healthcheck.htm") }}
