#!/bin/sh -e
# {{ ansible_managed }}

# Get an OSCP response from the certificates OCSP issuer for use
# with HAProxy, then update the response.

# Path to certificates
PEMSDIR={{ haproxy_config_crt_base }}
SOCKET={{ haproxy_config_stats_socket }}

cd ${PEMSDIR} || exit 1

for suffix in "" ".rsa" ".ecdsa"; do
	for pem in $(find . -maxdepth 1 -name "*.pem${suffix}" -type f -print | sed 's/^.\///' | tr '\n' ' '); do

		# Get the OCSP URL from the certificate
		ocsp_url=$(openssl x509 -noout -ocsp_uri -in "${pem}")

		# Only process OCSP if URL was present
		if [ "${ocsp_url}" != "" ]; then
			# Extract the hostname from the OCSP URL
			ocsp_host=$(echo $ocsp_url | cut -d/ -f3)

			# Only process the certificate if we have a .issuer file
			if [ -r ${pem}.issuer ]; then
				# Check if issuer cert is also a root CA cert
				subjectdn=$(openssl x509 -in "${pem}.issuer" -subject -noout | cut -d'/' -f2,3,4,5,6,7,8,9,10)
				issuerdn=$(openssl x509 -in "${pem}.issuer" -issuer -noout | cut -d'/' -f2,3,4,5,6,7,8,9,10)
				OCSP_UPDATE=""
				if [ "${subjectdn}" == "${issuerdn}" ]; then
					# Request the OCSP response from the issuer and store it
					# and also push the response to HAProxy via the stats/config socket
					openssl ocsp \
						-issuer "${pem}.issuer" \
						-cert "${pem}" \
						-url "${ocsp_url}" \
						-header Host{{ haproxy_ocsp_update_host_seperator }}"${ocsp_host}" \
						-respout "${pem}.ocsp" \
						-verify_other "${pem}.issuer" \
						-no_nonce \
						-CAfile "${pem}.issuer" \
						| grep -q "${pem}: good" && \
					OCSP_UPDATE="$(base64 "${pem}.ocsp" | tr -d '\n')"
				else
					# Request the OCSP response from the issuer and store it
					# and also push the response to HAProxy via the stats/config socket
					openssl ocsp \
						-issuer "${pem}.issuer" \
						-cert "${pem}" \
						-url "${ocsp_url}" \
						-header Host{{ haproxy_ocsp_update_host_seperator }}"${ocsp_host}" \
						-respout "${pem}.ocsp" \
						-verify_other "${pem}.issuer" \
						-no_nonce \
						| grep -q "${pem}: good" && \
					OCSP_UPDATE="$(base64 "${pem}.ocsp" | tr -d '\n')"
				fi
				if [ "${OCSP_UPDATE}" != "" ]; then
					echo "set ssl ocsp-response ${OCSP_UPDATE}" | socat {{ haproxy_config_stats_socket }} stdio
				fi
			fi
		fi
	done
done
