[ req ]
default_bits			= {{ haproxy_config_ssl_req_bits|default(2048) }}
default_md			= {{ haproxy_config_ssl_req_md|default("sha256") }}
default_keyfile			= {{ item.frontend.crt }}
prompt				= no
encrypt_key			= no

distinguished_name		= req_dn

req_extensions			= v3_req

[ req_dn ]
countryName			= "{{ haproxy_config_ssl_req_c|default("AU") }}"
stateOrProvinceName		= "{{ haproxy_config_ssl_req_st|default("State") }}"
localityName			= "{{ haproxy_config_ssl_req_l|default("City") }}"
organizationName		= "{{ haproxy_config_ssl_req_o|default("Org") }}"
organizationalUnitName		= "{{ haproxy_config_ssl_req_ou|default("OU") }}"
commonName			= "{{ item.frontend.pool_fqdn }}"

[ v3_req ]
subjectAltName			= DNS:{{ item.frontend.pool_fqdn }},{% for simple_url in item.frontend.simple_url %}{% if not loop.first %},{% endif %}DNS:{{ simple_url }}{% endfor %}{% for sip_domain in item.frontend.sip_domain %},DNS:lyncdiscover.{{ sip_domain }},DNS:lyncdiscoverinternal.{{ sip_domain }}{% endfor %}
