{% set template = haproxy_template.s4b %}
{% set acme_tls_alpn = false %}
{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(false) %}
{%   set acme = true %}
{%     if proxy.frontend.acme_mode|default("http-01") == "tls-alpn-01" %}
{%       set acme_tls_alpn = true %}
{%     endif %}
{% else %}
{%   set acme = false %}
{% endif %}
# Defaults for {{ name }}
defaults {{ name }}
	# Set proxy type
	mode http

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout http-keep-alive    {{ proxy.timeout|default(template.timeout) }}
	timeout http-request       15s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             {{ proxy.timeout|default(template.timeout) }}
	timeout server             {{ proxy.timeout|default(template.timeout) }}
	timeout check              2s
	timeout tunnel             {{ proxy.timeout|default(template.timeout) }}

	# enable TCP keepalives
	option tcpka

	# Logging options
	option logasap
	log global

	# Custom HTTP log format to include SSL/TLS version
	log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %sslv %{+Q}r"

	# Set balance mode
	balance leastconn

	# Include X-Forwarded-For header
	option forwardfor

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} downinter {{ proxy.defaults.down_interval|default(template.down_interval) }} fastinter {{ proxy.defaults.fast_interval|default(template.fast_interval) }} slowstart {{ proxy.defaults.slowstart|default(template.slowstart) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} downinter {{ template.down_interval }} fastinter {{ template.fast_interval }} on-marked-down shutdown-sessions
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}
{% if acme_tls_alpn %}

frontend fe_{{ name }}_alpn
	mode tcp
	option tcplog
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:443
{% endfor %}
	tcp-request inspect-delay 5s
	tcp-request content accept if { req_ssl_hello_type 1 }
	use_backend be_acme_alpn if { req.ssl_alpn acme-tls/1 }
	default_backend be_{{ name }}_real

backend be_{{ name }}_real
	mode tcp
	option tcplog
	server fe_{{ name }} abns@fe_{{ name }} send-proxy-v2
{% endif %}

# Front-End for {{ name }}
frontend fe_{{ name }}
	# Listen on 80 and 443
{% for bind in proxy.frontend.bind %}
{%   if proxy.frontend.crt_bundle|default(true) %}
	bind {{ "abns@fe_" ~ name if acme_tls_alpn else bind.ip ~ ":443" }} ssl crt {{ proxy.frontend.crt }}{{ " accept-proxy" if acme_tls_alpn else "" }}
{%   else %}
	bind {{ "abns@fe_" ~ name if acme_tls_alpn else bind.ip ~ ":443" }} ssl crt {{ proxy.frontend.crt }}.rsa crt {{ proxy.frontend.crt }}.ecdsa{{ " accept-proxy" if acme_tls_alpn else "" }}
{%   endif %}
	bind {{ bind.ip }}:80

{% endfor %}
{% if proxy.monitor|default(false) %}
	# External health check endpoint acl
	acl be_{{ name }}_ssl_dead nbsrv(be_{{ name }}_ssl) lt {{ proxy.monitor_nbsrv|default(2) }}

	# External health check endpoint
	monitor-uri {{ proxy.monitor_uri|default("/healthcheck.htm") }}
	monitor fail if be_{{ name }}_ssl_dead

{% endif %}
	# Capture Content-Length header in response for logging purposes
	capture response header Content-length len 9

	# ACLs to match S4B URLs
{% if proxy.frontend.pool_fqdn is defined %}
	acl url_s4b hdr(host) -i {{ proxy.frontend.pool_fqdn }}
{% endif %}
{% if proxy.frontend.sip_domain is defined %}
{%   for sip_domain in proxy.frontend.sip_domain %}
	acl url_s4b hdr(host) -i lyncdiscover.{{ sip_domain }}
{%     if not proxy.external|default(true) %}
	acl url_s4b hdr(host) -i lyncdiscoverinternal.{{ sip_domain }}
{%     endif %}
{%   endfor %}
{% else %}
	acl url_s4b hdr_beg(host) -i lyncdiscover.
{%   if not proxy.external|default(true) %}
	acl url_s4b hdr_beg(host) -i lyncdiscoverinternal.
{%   endif %}
{% endif %}
{% for simple_url in proxy.frontend.simple_url|default([]) %}
	acl url_s4b hdr(host) -i {{ simple_url }}
{% endfor %}
{% if proxy.frontend.owapp_fqdn is defined %}
	acl url_s4b_owapp hdr(host) -i {{ proxy.frontend.owapp_fqdn }}
{% endif %}

{% if proxy.nms_list is defined %}
	# NMS ACLs
{%   for nms in proxy.nms_list %}
	acl src_nms src {{ nms }}
{%   endfor %}

{% endif %}
{% if acme and not acme_tls_alpn %}
{%   include "acme.j2" %}

{% endif %}
{% if proxy.exchange_colocated|default(false) %}
	# Enable Exchange URL matches
{%   include "exchange_fe.j2" %}

{% endif %}
	# Use specific back-end
	use_backend be_{{ name }}_ssl if { ssl_fc } url_s4b
	use_backend be_{{ name }} if url_s4b
{% if proxy.frontend.owapp_fqdn is defined %}
	use_backend be_{{ name }}_owapp if url_s4b_owapp
{% endif %}
{% if proxy.nms_list is defined %}
	use_backend be_alwaysok if src_nms
{% endif %}
{% for line in proxy.custom_config | default([]) %}
{%   if loop.first %}

	# BEGIN custom config
{%   endif %}
	{{ line }}
{%   if loop.last %}
	# END custom config
{%   endif %}
{% endfor %}

# Back-End for {{ name }}
backend be_{{ name }}_ssl
	# Health check options
	option tcp-check
{% if not proxy.backend.standard_edition|default(false) %}
	tcp-check comment Connect\ to\ HLB\ health\ check\ port\ ({{ proxy.backend.health_check_port|default(5060) }})
	tcp-check connect port {{ proxy.backend.health_check_port|default(5060) }}
{% endif %}
	tcp-check comment Connect\ to\ SSL\ web\ services\ port\ (4443)
	tcp-check connect port 4443 ssl
	tcp-check comment Send\ HTTP\ request
	tcp-check send HEAD\ /\ HTTP/1.1\r\n
	tcp-check send Host:\ {{ proxy.frontend.pool_fqdn|default("localhost") }}\r\n
	tcp-check send User-Agent:\ HAProxy\ tcpcheck\r\n
	tcp-check send Connection:\ Close\r\n
	tcp-check send \r\n
	tcp-check comment Check\ HTTP\ response
	tcp-check expect rstring HTTP/1\..\ (2..|3..|4..)
	option log-health-checks

	# Enable connection reuse
	http-reuse always

	# Stick on Cookie (MS-WSMAN)
	cookie MS-WSMAN insert preserve nocache

	# S4B servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}:4443 ssl verify required verifyhost {{ proxy.frontend.pool_fqdn|default("localhost") }}{% if proxy.backend.agent_port is defined %} agent-check agent-port {{ proxy.backend.agent_port }}{% endif %} check ca-file {{ server.ca_file|default(proxy.backend.ca_file) }} observe layer7 cookie {{ server.name }}
{% endfor %}

# Back-End for {{ name }}
backend be_{{ name }}

	# Stick on Cookie (MS-WSMAN)
	cookie MS-WSMAN insert preserve nocache

	# Enable connection reuse
	http-reuse always

	# S4B servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}:8080 track be_{{ name }}_ssl/{{ server.name }} cookie {{ server.name }}
{% endfor %}

{% if proxy.backend.owapp_server is defined %}
# Back-End for {{ name }} Office Web Apps Server
backend be_{{ name }}_owapp
	# Health check options
	timeout check 91s

	# Do a HTTP GET for /hosting/discovery and expect a 200 OK
	option httpchk GET /hosting/discovery HTTP/1.1\r\nHost:\ {{ proxy.frontend.owapp_fqdn|default("localhost") }}\r\nConnection:\ Close\r\n\r\n
	option log-health-checks
	http-check expect string wopi-discovery

	# Session persistence based on SSL session ID
	stick-table type binary len 32 size 30k expire 30m

	# ACLs to match client and server hello payloads
	acl clienthello req_ssl_hello_type 1
	acl serverhello rep_ssl_hello_type 2

	# use tcp content accepts to detects ssl client and server hello.
	tcp-request inspect-delay 5s
	tcp-request content accept if clienthello

	# no timeout on response inspect delay by default.
	tcp-response content accept if serverhello

	# Match and learn on request if client hello
	stick on payload_lv(43,1) if clienthello

	# Learn on response if server hello.
	stick store-response payload_lv(43,1) if serverhello

	# Back-End defaults
	default-server inter 30s fastinter 15s downinter 60s slowstart 300s on-marked-down shutdown-sessions

	# OWAPP Servers
{%   for server in proxy.backend.owapp_server %}
{%     if proxy.backend.owapp_ssl_offload|default(false) %}
	server {{ server.name }} {{ server.ip }}:80 check observe layer7
{%     else %}
	server {{ server.name }} {{ server.ip }}:443 check observe layer7 ssl verify required verifyhost {{ proxy.frontend.owapp_fqdn|default("localhost") }} ca-file {{ server.ca_file|default(proxy.backend.ca_file) }}
{%     endif %}
{%   endfor %}
{% endif %}

{% if proxy.exchange_colocated|default(false) %}
	# Enable Exchange Backends
{%   include "exchange_be.j2" %}
{% endif %}
