{% set template = haproxy_template.s4b_edge %}
# Defaults for {{ name }}
defaults {{ name }}
	# Set proxy type
	mode tcp

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout server             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout check              2s
	timeout tunnel             {{ proxy.idle_timeout|default(template.idle_timeout) }}

	# enable TCP keepalives
	option tcpka

	# Logging options
	option tcplog
	log global

	# Set balance mode
	balance leastconn

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} downinter {{ proxy.defaults.down_interval|default(template.down_interval) }} fastinter {{ proxy.defaults.fast_interval|default(template.fast_interval) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} downinter {{ template.down_interval }} fastinter {{ template.fast_interval }} on-marked-down shutdown-sessions
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}

# Listener for {{ name }} Access Service
listen li_{{ name }}_access
	# Listen on Access Service ports
	bind {{ proxy.access.ip }}:443
	bind {{ proxy.access.ip }}:5061
	bind {{ proxy.access.ip }}:5629

	# Health check options
	option log-health-checks

	# Stick on source address
	stick-table type ip size 200k expire {{ proxy.persist_timeout|default(template.persist_timeout) }}
	stick on src

	# Edge servers
{% for server in proxy.access.server %}
	server {{ server.name }} {{ server.ip }} check port 443
{% endfor %}

# Listener for {{ name }} Web Conferencing Service
listen li_{{ name }}_webconf
	# Listen on Web Conferencing Service port
	bind {{ proxy.webconf.ip }}:443

	# Health check options
	option log-health-checks

	# Stick on source address
	stick-table type ip size 200k expire {{ proxy.persist_timeout|default(template.persist_timeout) }}
	stick on src

	# Edge servers
{% for server in proxy.webconf.server %}
	server {{ server.name }} {{ server.ip }} check port 443
{% endfor %}

# Listener for {{ name }} A/V Service
listen li_{{ name }}_av
	# Listen on A/V Service port
	bind {{ proxy.av.ip }}:443

	# Health check options
	option log-health-checks

	# Stick on source address
	stick-table type ip size 200k expire {{ proxy.persist_timeout|default(template.persist_timeout) }}
	stick on src

	# Use client ip as the source address
	source {{ bind.ip }} usesrc clientip

	# Edge servers
{% for server in proxy.av.server %}
	server {{ server.name }} {{ server.ip }} check port 443
{% endfor %}

# Listener for {{ name }} Edge Internal Service
listen li_{{ name }}_int
	# Listen on Edge Internal Service ports
	bind {{ proxy.int.ip }}:443
	bind {{ proxy.int.ip }}:5061
	bind {{ proxy.int.ip }}:5062

	# Health check options
	option log-health-checks

	# Stick on source address
	stick-table type ip size 200k expire {{ proxy.persist_timeout|default(template.persist_timeout) }}
	stick on src

	# Edge servers
{% for server in proxy.int.server %}
	server {{ server.name }} {{ server.ip }} check port 443
{% endfor %}
