{% set template = haproxy_template.s4b_frontend %}
# Defaults for {{ name }}
defaults {{ name }}
	# Set proxy type
	mode tcp

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            4s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout server             {{ proxy.idle_timeout|default(template.idle_timeout) }}
	timeout check              2s
	timeout tunnel             {{ proxy.idle_timeout|default(template.idle_timeout) }}

	# enable TCP keepalives
	option tcpka

	# Logging options
	option tcplog
	log global

	# Set balance mode
	balance leastconn

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} downinter {{ proxy.defaults.down_interval|default(template.down_interval) }} fastinter {{ proxy.defaults.fast_interval|default(template.fast_interval) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} downinter {{ template.down_interval }} fastinter {{ template.fast_interval }} on-marked-down shutdown-sessions
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}

# Listener for Front End {{ name }} Pool
listen li_{{ name }}_fe
	# Listen on Front End ports
{% for port in template.port_list %}
	bind {{ proxy.frontend.ip }}:{{ port }}
{% endfor %}

	# Health check options
	option tcp-check
{% if not proxy.backend.standard_edition|default(false) %}
	tcp-check comment Connect\ to\ HLB\ health\ check\ port\ ({{ proxy.backend.health_check_port|default(5060) }})
	tcp-check connect port {{ proxy.backend.health_check_port|default(5060) }}
{% else %}
	tcp-check comment Connect\ to\ FE\ SIP port\ (5061)
	tcp-check connect port 5061
{% endif %}
	option log-health-checks

	# Stick on source address
	stick-table type ip size 200k expire {{ proxy.persist_timeout|default(template.persist_timeout) }}
	stick on src

	# S4B servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}{% if proxy.backend.agent_port is defined %} agent-check agent-port {{ proxy.backend.agent_port }}{% endif %} check
{% endfor %}

# Listener for Front End {{ name }} Pool
listen li_{{ name }}_websvc
	# Listen on External Web Services ports
	bind {{ proxy.frontend.ip }}:4443
	bind {{ proxy.frontend.ip }}:8081

	# S4B servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }} track li_{{ name }}_fe/{{ server.name }}
{% endfor %}
