# Stats listener
listen li_stats
	mode http

	# Timeouts
	timeout client   5s
	timeout server   5s
	timeout connect  5s

	# Logging options
	option httplog
	log global

{% for bind in proxy.frontend.bind %}
{%   if haproxy_config_enable_v2_options | default(false) %}
	bind {{ bind.ip }}:{{ bind.port }} ssl crt {{ bind.crt|default(proxy.frontend.crt) }} alpn h2,http/1.1
{%   else %}
	bind {{ bind.ip }}:{{ bind.port }} ssl crt {{ bind.crt|default(proxy.frontend.crt) }}
{%   endif %}
{% endfor %}
	stats enable
{% if proxy.realm is defined %}
	stats realm {{ proxy.realm }}
{% endif %}
	stats uri {{ proxy.uri|default("/?stats") }}
{% if proxy.auth is defined %}
	stats auth {{ proxy.auth }}
{% elif proxy.admin is defined or proxy.user is defined %}
	acl AUTH http_auth(userlist_stats)
{%   if proxy.admin is defined %}
	acl AUTH_ADMIN http_auth_group(userlist_stats) admin
	stats admin if AUTH_ADMIN
{%   endif %}
	stats http-request auth unless AUTH
{% endif %}
	stats hide-version

{% if proxy.monitor|default(false) %}
	# External health check endpoint
	monitor-uri {{ proxy.monitor_uri|default("/healthcheck.htm") }}

{% endif %}
{% if proxy.nms_list is defined %}
	# NMS ACLs
{%   for nms in proxy.nms_list %}
	acl src_nms src {{ nms }}
{%   endfor %}

	use_backend be_alwaysok if src_nms
	
{% endif %}
{% if proxy.admin is defined or proxy.user is defined %}
userlist userlist_stats
{%   for user in proxy.admin|default([]) %}
{%     if loop.first %}
	group admin
{%     endif %}
{%     set u = user.split(":") %}
{%     if u|length > 2 %}
	user {{ u[0] }} {{ u[1] }} {{ u[2] }} groups admin
{%     else %}
	user {{ u[0] }} insecure-password {{ u[1] }} groups admin
{%     endif %}
{%   endfor %}
{%   for user in proxy.user|default([]) %}
{%     if loop.first %}
	group user
{%     endif %}
{%     set u = user.split(":") %}
{%     if u|length > 2 %}
	user {{ u[0] }} {{ u[1] }} {{ u[2] }} groups user
{%     else %}
	user {{ u[0] }} insecure-password {{ u[1] }} groups user
{%     endif %}
{%   endfor %}
{% endif %}
