{% set template = haproxy_template.vmware_view_cs %}
# VMware View Connection Server Defaults
defaults
	# Default to HTTP mode
	mode http

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            5s
	timeout http-keep-alive    1s
	timeout http-request       15s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             30m
	timeout server             30m
	timeout tunnel             1h

	# Logging options
	option httplog
	option dontlognull
	log global

	# Set default balancing algorithm
	balance leastconn

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }}
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }}
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}

{% for line in  proxy.defaults.options|default([]) %}
	{{ line }}
{% endfor %}

# VMware View Connection Server Listener
listen li_{{ name }}
	# Listen on HTTP (80) and HTTPS (443)
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:80
	bind {{ bind.ip }}:443 ssl crt {{ bind.crt|default(proxy.frontend.crt) }}
{% endfor %}
{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(false) %}
{% include "acme.j2" %}
	# Redirect HTTP -> HTTPS
	redirect scheme https code 301 if !{ ssl_fc } !url_acme

{% else %}
	# Redirect HTTP -> HTTPS
	redirect scheme https code 301 if !{ ssl_fc }

{% endif %}
	# Remove Origin header to resolve https://kb.vmware.com/kb/2144768 as per https://support.f5.com/csp/article/K65620682
	http-request del-header Origin

	# Maintain affinity based on JSESSIONID cookie
	stick match req.cook(JSESSIONID)
	stick store-response res.cook(JSESSIONID)
{% if proxy.peers is defined %}
	stick-table type string size 2k expire {{ proxy.backend.session_expiry|default("1h") }} peers peers_{{ name }}
{% elif haproxy_peers is defined %}
	stick-table type string size 2k expire {{ proxy.backend.session_expiry|default("1h") }} peers peers_global
{% else %}
	stick-table type string size 2k expire {{ proxy.backend.session_expiry|default("1h") }}
{% endif %}

	# Health check
	option httpchk GET /broker/xml/ HTTP/1.1\r\nHost:\ {{ proxy.frontend.hostname }}\r\nConnection:\ Close\r\n\r\n
	option log-health-checks
	http-check expect string clientlaunch-default

	# View Connection servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}:443 ssl check ca-file {{ server.ca_file|default(proxy.backend.ca_file) }}
{% endfor %}
