{% set template = haproxy_template.vmware_uag %}
{% set acme_tls_alpn = false %}
{% if haproxy_acme_enabled and proxy.frontend.acme_enabled|default(false) %}
{%   set acme = true %}
{%   if proxy.frontend.acme_mode|default("http-01") == "tls-alpn-01" %}
{%     set acme_tls_alpn = true %}
{%   endif %}
{% else %}
{%   set acme = false %}
{% endif %}
# VMware Unified Access Gateway Defaults
defaults li_{{ name }}
	# Default to HTTP mode
	mode http

	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            5s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             30m
	timeout server             30m
	timeout tunnel             1h

	# Logging options
	option httplog
	log global

	# Set default balancing algorithm
	balance leastconn

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }}
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }}
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}
{% if acme_tls_alpn %}
frontend fe_{{ name }}_alpn
	mode tcp
	option tcplog
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:443
{% endfor %}
	tcp-request inspect-delay 5s
	tcp-request content accept if { req_ssl_hello_type 1 }
	use_backend be_acme_alpn if { req.ssl_alpn acme-tls/1 }
	default_backend be_{{ name }}_real

backend be_{{ name }}_real
	mode tcp
	option tcplog
	server li_{{ name }} abns@li_{{ name }} send-proxy-v2

{% endif %}
# VMware Unified Access Gateway Listener
listen li_{{ name }}
	# Listen on HTTP (80) and HTTPS (443)
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:80
	bind {{ "abns@li_" ~ name if acme_tls_alpn else bind.ip ~ ":443" }} ssl crt {{ bind.crt|default(proxy.frontend.crt) }}{{ " accept-proxy" if acme_tls_alpn else "" }}
{% endfor %}

{% if acme and not acme_tls_alpn %}
{% include "acme.j2" %}
	# Redirect HTTP -> HTTPS
	redirect scheme https code 301 if !{ ssl_fc } !url_acme

{% else %}
	# Redirect HTTP -> HTTPS
	redirect scheme https code 301 if !{ ssl_fc }

{% endif %}
	# Maintain affniity based on source IP address
	stick on src
{% if proxy.peers is defined %}
	stick-table type ip size 2k expire {{ proxy.backend.session_expiry|default("1h") }} peers peers_{{ name }}
{% elif haproxy_peers is defined %}
	stick-table type ip size 2k expire {{ proxy.backend.session_expiry|default("1h") }} peers peers_global
{% else %}
	stick-table type ip size 2k expire {{ proxy.backend.session_expiry|default("1h") }}
{% endif %}

	# Health check options
	option httpchk GET /favicon.ico HTTP/1.1\r\nHost:\ {{ proxy.backend.hostname|default(proxy.frontend.hostname) }}\r\nConnection:\ Close\r\n\r\n
	option log-health-checks
	http-check expect status 200

	# Unified Access Gateway servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}:443 check ssl ca-file {{ server.ca_file|default(proxy.backend.ca_file) }}
{% endfor %}
