{% set template = haproxy_template.vmware_psc %}
# VMware PSC Defaults
defaults {{ name }}
	# Retry another server on connection failure
	option redispatch

	# Timeouts
	timeout connect            5s
	timeout http-keep-alive    {{ proxy.timeout|default("8h") }}
	timeout http-request       15s
	timeout queue              30s
	timeout tarpit             1m
	timeout client             {{ proxy.timeout|default("8h") }}
	timeout server             {{ proxy.timeout|default("8h") }}
	timeout tunnel             {{ proxy.timeout|default("8h") }}

	# Logging options
	option tcplog
	option dontlognull
	log global

	# Set default balancing algorithm
	balance roundrobin

	# Default server check options
{% if proxy.defaults is defined %}
	default-server inter {{ proxy.defaults.interval|default(template.interval) }} rise {{ proxy.defaults.rise|default(template.rise) }} fall {{ proxy.defaults.fall|default(template.fall) }} on-marked-down shutdown-sessions
{% else %}
	default-server inter {{ template.interval }} rise {{ template.rise }} fall {{ template.fall }} on-marked-down shutdown-sessions
{% endif %}

	# Maximum connections
	maxconn {{ proxy.maxconn|default(haproxy_config_maxconn) }}

# VMware PSC Front-End
frontend fe_{{ name }}_https
	mode http

	# Listen on HTTPS port
{% for bind in proxy.frontend.bind %}
{% for port in template.port_list if port == 443 %}
	bind {{ bind.ip }}:{{ port }} ssl crt {{ bind.crt|default(proxy.frontend.crt) }}
{% endfor %}
{% endfor %}

	# Use PSC HTTPS Back-End
	use_backend be_{{ name }}_https

{% if proxy.stats_uri is defined %}
	# {{ name }} stats
	stats uri {{ proxy.stats_uri }}
{% if proxy.stats_realm is defined %}
	stats realm {{ proxy.stats_realm }}
{% endif %}
{% if proxy.stats_auth is defined %}
	stats auth {{ proxy.stats_auth }}
{% endif %}
	stats hide-version
	stats scope fe_{{ name }}_https
	stats scope fe_{{ name }}_tcp
	stats scope be_{{ name }}_https
	stats scope be_{{ name }}_tcp
{% endif %}

frontend fe_{{ name }}_tcp
	# Listen on TCP ports
{% for bind in proxy.frontend.bind %}
{% for port in template.port_list if port != 443 %}
	bind {{ bind.ip }}:{{ port }}
{% endfor %}
{% endfor %}

	# Use PSC TCP Back-End
	use_backend be_{{ name }}_tcp

# PSC Back-Ends

backend be_{{ name }}_https
	mode http

	# Health check options
	option tcp-check
	tcp-check comment Connect\ to\ HTTPS\ port
	tcp-check connect port 443 ssl
	tcp-check comment Send\ HTTP\ request
	tcp-check send GET\ /websso/HealthStatus\ HTTP/1.1\r\n
	tcp-check send Host:\ {{ proxy.frontend.hostname|default("psc") }}\r\n
	tcp-check send User-Agent:\ HAProxy\ tcpcheck\r\n
	tcp-check send Connection:\ Close\r\n
	tcp-check send \r\n
	tcp-check comment Check\ HTTP\ response
	tcp-check expect rstring HTTP/1\..\ 200
{% for port in template.port_list if port != 443 %}
	tcp-check comment Connect\ to\ port\ {{ port }}
	tcp-check connect port {{ port }}
{% endfor %}
	option log-health-checks

	# Maintain affniity based on source address
{% if proxy.peers is defined %}
	stick-table type ip size 1k expire {{ proxy.backend.session_expiry|default("8h") }} peers peers_{{ name }}
{% elif haproxy_peers is defined %}
	stick-table type ip size 1k expire {{ proxy.backend.session_expiry|default("8h") }} peers peers_global
{% else %}
	stick-table type ip size 1k expire {{ proxy.backend.session_expiry|default("8h") }}
{% endif %}
	stick on src

# PSC servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }}:443 check ssl ca-file {{ server.ca_file|default(proxy.backend.ca_file) }}
{% endfor %}

backend be_{{ name }}_tcp
	mode tcp

	# Maintain affinity based on be_{{ name }}_https stick table
	stick on src table be_{{ name }}_https

	# PSC servers
{% for server in proxy.backend.server %}
	server {{ server.name }} {{ server.ip }} track be_{{ name }}_https/{{ server.name }}
{% endfor %}
